@import '../../styles/variables';

.registration-form {
  max-width: 390px;
  padding: 0 10px;
  margin: 20px auto;

  .sign-up {
    width: 100%;
    padding: 15px;
    font-family: $primary-font-bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .8px;
    color: $white;
    text-transform: uppercase;
    background-color: $sign-up-bg;
    border: 0;
  }
}
