@import '../../styles/variables';

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 38px - 25px);
  max-width: 390px;
  padding: 0 10px;
  margin: 0 auto;

  .sign-up {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .8px;
    text-transform: uppercase;
  }
}
