@import '../../styles/variables';

.check-email {
  text-align: center;

  h3 {
    margin: 0;
    font-family: $open-sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
  }

  p {
    margin: 0;
    font-family: $open-sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: $content-color;
  }
}
