@import 'variables';

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

.fill-in-btn {
  width: 100%;
  padding: 15px;
  font-family: $primary-font-bold;
  color: $white;
  cursor: pointer;
  background-color: $button-bg;
  border: 0;
  outline: 0;

  &:hover {
    cursor: url('../assets/imgs/cursor.svg') 0 0, pointer;
    background-color: $button-hover-bg;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: $button-not-allowed-bg;
  }

  &:active {
    cursor: url('../assets/imgs/cursor.svg') 0 0, pointer;
    background-color: $button-active-bg;
  }
}

.btn {
  font-family: $secondary-font;
  color: $button-color;
  border: 1px solid $button-border;

  &:hover {
    color: $white;
    cursor: url('../assets/imgs/cursor.svg') 0 0, pointer;
    background-color: $button-hover-bg;
  }

  &:active {
    color: $white;
    cursor: url('../assets/imgs/cursor.svg') 0 0, pointer;
    background-color: $button-active-bg;
  }

  &[disabled] {
    color: $button-not-allowed-color;
    cursor: not-allowed;
    background: $white;
    border: 1px solid $button-not-allowed-border;
  }
}

.internal-link {
  font-family: $open-sans;
  font-size: 10px;
  line-height: 14px;
  color: $internal-link-color;
  text-decoration: none;
  text-transform: none;

  &:hover {
    color: $internal-link-color-hover;
    cursor: url('../assets/imgs/cursor.svg') 0 0, pointer;
  }

  &:active {
    color: $internal-link-color-active;
    cursor: url('../assets/imgs/cursor.svg') 0 0, pointer;
  }

  &[disabled] {
    color: $internal-link-color-disabled;
  }
}

.container {
  display: flex;
  width: 100%;
  max-width: 1024px;
}

// sass-lint:disable-block no-important
.mb-30 {
  margin-bottom: 30px !important;
}
