$roboto-regular: 'Roboto Regular';
$roboto-bold: 'Roboto Bold';
$open-sans: 'Open Sans';

$mine-shaft: #434c5d;
$mischka: #d4d9e2;
$alizarin-crimson: #d72130;
$white: #fff;
$ghost: #c6ccd7;

$primary-font: $roboto-regular;
$primary-font-bold: $roboto-bold;

$form-label: $mine-shaft;
$input-border-color: $mischka;
$sign-up-bg: $alizarin-crimson;
$input-placeholder: $ghost;
$input-error: $alizarin-crimson;
